
{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Choose one dance school to edit!</h1>
    <table class="table">
        <thead>
        <tr>
            <th>dance schools</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for school in adminSchools %}
            <tr>
                <td>{{ school.name }}</td>
                <td>
                    <a href="{{ path('app_danceschool_selected', {'id': school.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No dance schools found!</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Logout</h1>
    <p>Your Email: {{ app.user.userIdentifier }}</p>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
