{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Make User as Admin-User for this DanceSchool</h1>



    <a href="{{ path('app_dance_school_index') }}">back to list</a>
{% endblock %}
